{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block navigation %}
{% endblock %}

{% block body %}
<section class="login">
    <div class="container">
        <form method="post" class="flow">
            {% if error %}
                <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            {% endif %}
    
            {% if app.user %}
                <div class="">
                    You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
                </div>
            {% endif %}
    
            <h1 class="">Please sign in</h1>
            <label for="username">Email</label>
            <input type="email" value="{{ last_username }}" name="_username" id="username" class="form-control" autocomplete="email" required autofocus>
            <label for="password">Password</label>
            <input type="password" name="_password" id="password" class="form-control" autocomplete="current-password" required>
    
            <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">
    
            <div class="checkbox">
                <input type="checkbox" name="_remember_me" id="_remember_me">
                <label for="_remember_me">Remember me</label>
            </div>
            
                
            <button class="" type="submit">
                Sign in
            </button>

            <div class="cluster">
                <a href="{{ path("app_forgot_password_request") }}">Forgot your password?</a>
                <a href="{{ path("app_register") }}">Sign up</a>
            </div>
        </form>
    </div>
</section>

{% endblock %}

{% block footer %}
{% endblock %}