{% extends 'base.html.twig' %}

{% block title %}Manage Shift: {{ shift.startTime|date('H:i') }} - {{ shift.endTime|date('H:i') }} on {{ shift.date|date('Y-m-d') }}{% endblock %}

{% block body %}
<div class="container my-4">
    <h2 class="mb-3 text-secondary">Assignments</h2>

    {% if assignmentsByPosition is not empty %}

        {{ include('shift/_bulk_assignment_status_update_form.html.twig') }}
    
        <div id="assignment-list-container" class="mt-3"> 
            {% for positionName, assignmentsInPosition in assignmentsByPosition %}
                <div class="card shadow-sm mb-3">
                    <ul class="list-group list-group-flush">
                        {% for assignment in assignmentsInPosition %}
                            {{ include('shift/_assignment_list_item.html.twig') }}
                        {% else %}
                            <li class="list-group-item text-center text-muted">No assignments for this position.</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endfor %}
        </div> 

    {% else %}
        <div class="alert alert-warning text-center" role="alert">
            No assignments available for this shift.
        </div>
    {% endif %}

</div>
{% endblock %}
